// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$web-bg: #fff;
$web-light-bg: #f8fdff;
$web-dark-bg: #031133;
$brand-primary: #0196f5;
$brand-secondary: #fd8f69;
$white: #fff;
$light-blue: #a5bacf;
$blue: #4aa6f3;
$dark-blue: #00192c;
$light-navy: #4d6370;
$gray: #b6b6b6;
$dark-gray: #262626;
$dark-gray: #212629;
$icon: #0698f5;
$body-color: #869a9e;


$blue-cards:#2794e4;

