// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;

}

body{
	background-color: $web-bg;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
} 

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

section{
  padding-top:1em;
	padding-bottom:3em;
}

.animation{
	width:100%;
	position: absolute;
	  bottom:0 !important;
  left:0 !important;
  overflow: hidden;
}
.ocean { 
  height: 5%;
  width:100%;
  position:relative;
  bottom:0;
  left:0 !important;
  background: transparent;
}

.wave {
  background: url(../assets/wave.svg) repeat-x; 
  position: relative;
  top: 200px;
  width: 3400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
    overflow: hidden;
}

.wave:nth-of-type(2) {
  top: -5px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}