/**
 * 2) Typography 
 * Basic typography style
 */

body{
	font:
	{
	family: 'Rubik','Helvetica',sans-serif;
	size:16px;
	}
	color: $gray;
}

h1,h2,h3,h4,h5,h6{
	line-height:1.2em;
}

h1{
	font:{
	size:3em;
	weight:400;
	}
}

h2{
	font:{
	size:2.25em;
	weight:300;
	}
}

h3{
	font:{
	size:1.75em;
	weight:500;
	}
}
h4{
	font:{
	size:1.5em;
	weight:300;
	}
}
h5{
	font:{
	size:1.25em;
	weight:300;
	}
}
h6{	
	font:{
	size:1em;
	weight:500;
	}
	color:$brand-secondary;
	text-transform: uppercase;
}
p{ 
	font:{
	size:1em;
	weight:300;
	}
	line-height: 1.618em;
	font-weight: 300;
	color:$body-color;
}