

/******************
      footer
*******************/
.main-footer {
    background-color: $white;
    padding: 6.25rem 0rem;
    h5{
    	color: #4d6370;
    }
}

.main-footer-content > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}

.main-footer-content ul > li {

    line-height: 1.618em;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 0.2em;
    a {
    color: $body-color;
    &:hover,&:focus{
    	cursor:pointer;
    text-decoration: none;
    color: $gray;
    }
}
}

.main-footer-end {

    background-color: $blue-cards;
    font-size: 1.0em;
    padding: 2rem 0rem;
    p{
    color: $white !important;
    font-weight: 300;
    margin: 0;
    }
}
